* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  margin: 0 auto;
  max-width: 1226px;
}

header {
  width: 100%;
  font-size: 12px;
  background: #333;
}

header .topbar .topbarLeft ul li {
  float: left;
  height: 40px;
  line-height: 40px;
}

header .topbar .topbarLeft ul li a {
  color: #999;
  padding: 0 5px;
}

header .topbar .topbarLeft ul li a:hover {
  color: #fff;
}

header .topbar .topbarLeft ul li span {
  color: #999;
}

header .topbar .topbarRight .login {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
}

header .topbar .topbarRight .login a {
  color: #999;
}

header .topbar .topbarRight .login a:hover {
  color: #fff;
}

header .topbar .topbarRight .login span {
  color: #999;
}

header .topbar .topbarRight .shopCar {
  float: right;
  position: relative;
  width: 100px;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
  color: #333;
  background: #b0b0b0;
}

header .topbar .topbarRight .shopCar .shopCarList {
  position: absolute;
  top: 40px;
  right: 0;
  width: 316px;
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
  color: #ccc;
  background: #fff;
  z-index: 100;
}

header .topbar .topbarRight .shopCar:hover {
  background: #fff;
  color: #ff6700;
}

header .topbar .topbarRight .shopCar:hover .shopCarList {
  color: #ccc;
  top: 40px;
  height: 96px;
  line-height: 96px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px #ccc;
}

.mainNav {
  padding: 10px 0;
}

.mainNav .logo a:first-child {
  display: block;
  width: 55px;
  height: 55px;
  float: left;
}

.mainNav .logo a:first-child h1 {
  font-size: 0;
  text-indent: -9999;
}

.mainNav .logo a:last-child {
  float: left;
  display: block;
  width: 163px;
  height: 66px;
}

.mainNav .zdh li {
  float: left;
  padding: 0 10px;
  line-height: 60px;
  height: 60px;
}

.mainNav .zdh li:hover {
  color: #ff6700;
}

.mainNav .seach {
  position: relative;
  width: 295px;
  height: 50px;
  border: 1px solid #ccc;
}

.mainNav .seach .inp_text {
  width: 234px;
  height: 50px;
  outline: none;
  border: none;
  color: #666;
  font-size: 12px;
  padding-left: 10px;
}

.mainNav .seach lable {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #ccc;
  cursor: pointer;
}

.mainNav .seach lable i {
  font-size: 22px;
}

.mainNav .seach lable:hover {
  background: #ff6700;
  color: #fff;
}

.mainNav .seach .hotGoods {
  position: absolute;
  right: 50px;
  top: 14px;
}

.mainNav .seach .hotGoods a {
  font-size: 12px;
  background: #ccc;
  color: #666;
  padding: 0 5px;
}

.mainNav .seach .hotGoods a:hover {
  background: #ff6700;
  color: #fff;
}

.mainNav .seach .seachList {
  position: absolute;
  left: 0;
  top: 50px;
  width: 294px;
  border: 1px solid #ff6700;
  background: #fff;
  display: none;
  z-index: 9999;
}

.mainNav .seach .seachList ul li {
  height: 30px;
  line-height: 30px;
}

.mainNav .seach .seachList ul li a span:first-child {
  float: left;
  color: #666;
  font-size: 12px;
  margin-left: 15px;
}

.mainNav .seach .seachList ul li a span:last-child {
  float: right;
  color: #999;
  font-size: 10px;
  margin-right: 15px;
}

.mainNav .seach .seachList ul li:hover {
  background: #ffe8bd;
}

.mainNavList {
  width: 100%;
  height: 230px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 6px #ccc;
  display: none;
}

.mainNavList li {
  float: left;
  width: 180px;
  padding-top: 20px;
  text-align: center;
  margin-right: 10px;
}

.mainNavList li a {
  display: block;
  color: #000;
}

.mainNavList li a img {
  width: 100%;
  display: block;
  border-right: 1px solid #ccc;
}

.mainNavList li a h2 {
  margin-top: 15px;
  font-size: 12px;
  font-weight: normal;
}

.mainNavList li p {
  font-size: 14px;
  color: #ff6700;
  margin-top: 15px;
}

.slide-wrap .center {
  position: relative;
}

.slide-wrap .center .slide {
  height: 460px;
  position: relative;
}

.slide-wrap .center .slide ul li {
  position: absolute;
  left: 0;
  top: 0;
  height: 460px;
}

.slide-wrap .center .slide ul li a {
  display: block;
}

.slide-wrap .center .slide ul li a img {
  display: block;
  width: 100%;
}

.slide-wrap .center .slide .slide-btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  background: #000;
  transition: all 0.5s;
  opacity: 0;
}

.slide-wrap .center .slide .slide-btn.btn-left {
  left: 280px;
}

.slide-wrap .center .slide .slide-btn:last-child {
  right: -20px;
}

.slide-wrap .center .slide:hover .slide-btn {
  opacity: 0.5;
}

.slide-wrap .center .menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.slide-wrap .center .menu li {
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  font-size: 14px;
}

.slide-wrap .center .menu li:hover {
  background: #ff6700;
}

.slide-wrap .center .menuList {
  position: absolute;
  left: 260px;
  top: 0;
  height: 460px;
  border-top: 1px solid #ccc;
  box-shadow: 0 5px 8px #ccc;
  background: #fff;
  display: none;
}

.slide-wrap .center .menuList ul {
  float: left;
}

.slide-wrap .center .menuList ul li {
  position: relative;
  padding: 20px 20px 20px 30px;
  width: 240px;
  height: 34px;
  line-height: 34px;
}

.slide-wrap .center .menuList ul li a:first-child {
  float: left;
  margin-right: 15px;
}

.slide-wrap .center .menuList ul li a:first-child img {
  float: left;
  margin-right: 5px;
}

.slide-wrap .center .menuList ul li a:first-child h4 {
  float: left;
  font-size: 14px;
  font-weight: normal;
}

.slide-wrap .center .menuList ul li a:last-child {
  float: right;
  border: 1px solid #ff6700;
  font-size: 14px;
  padding: 0 10px;
}

.slide-wrap .center .menuList ul li a:last-child.buyStatus {
  display: none;
  border: none;
}

.slide-wrap .center .menuList ul li a:last-child:hover {
  background: #ff6700;
  color: #fff;
}

.top_sub {
  max-width: 1226px;
  margin: 0 auto;
  height: 170px;
  margin-top: 20px;
}

.top_sub .sub_left {
  width: 234px;
  height: 170px;
  background: #5f5750;
}

.top_sub .sub_left li {
  float: left;
  width: 75px;
  position: relative;
}

.top_sub .sub_left li > a {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.top_sub .sub_left li > a:hover i,
.top_sub .sub_left li > a:hover p {
  color: #fff;
}

.top_sub .sub_left li > a > i {
  font-size: 20px;
  margin-top: 15px;
  color: #b1b1b1;
}

.top_sub .sub_left li > a > p {
  padding-top: 10px;
  font-size: 12px;
  color: #b1b1b1;
}

.top_sub .sub_left li .line {
  width: 1px;
  height: 60px;
  display: inline-block;
  background: #b1b1b1;
  position: absolute;
  right: 0;
  top: 14px;
}

.top_sub .sub_left .line_w {
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #b1b1b1;
  margin: 0 7px;
}

.top_sub .sub_right > ul {
  display: flex;
}

.top_sub .sub_right > ul li {
  flex: 1;
  margin-left: 14px;
}

.top_sub .sub_right > ul li a {
  display: block;
}

.top_sub .sub_right > ul li a img {
  width: 316px;
  height: 170px;
}

.znyj {
  padding: 60px 0 26px;
  background: #f5f5f5;
}

.znyj .header {
  height: 58px;
  line-height: 58px;
  padding: 0 15px;
}

.znyj .header h3 {
  float: left;
  font-weight: 300;
  font-size: 24px;
}

.znyj .header a {
  float: right;
}

.znyj .header a span {
  font-size: 16px;
  margin-right: 5px;
}

.znyj .header a i {
  color: #ff6700;
  font-size: 20px;
}

.znyj .body {
  margin-top: 10px;
}

.znyj .body .bodyL {
  float: left;
}

.znyj .body .bodyL a {
  display: block;
}

.znyj .body .bodyL a img {
  display: block;
}

.znyj .body .bodyL a:hover {
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}

.znyj .body .bodyR {
  margin-left: 10px;
  float: left;
}

.znyj .body .bodyR ul {
  width: 980px;
}

.znyj .body .bodyR ul li {
  position: relative;
  width: 230px;
  height: 260px;
  padding: 20px 0;
  margin: 0 0 14px 14px;
  float: left;
  background: #fff;
}

.znyj .body .bodyR ul li span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 64px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #f20;
}

.znyj .body .bodyR ul li a {
  display: block;
}

.znyj .body .bodyR ul li a img {
  display: block;
  margin: 0 auto;
  width: 160px;
}

.znyj .body .bodyR ul li a h4 {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}

.znyj .body .bodyR ul li a .desc {
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}

.znyj .body .bodyR ul li a .price {
  text-align: center;
  font-size: 14px;
  color: #ff6700;
}

.znyj .body .bodyR ul li:hover {
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
